.camera {
  position: relative;
  width: 100%;
  height: 100%;
}

.floorplan {
  max-width: 100%;
}

.camera-indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.idle {
  background-color: green;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fever-detected {
  background-color: red;
  animation: blink 1s infinite;
}


