.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.account-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-holder {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 400px;
  width: 100%;
}

label {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

input {
  padding: 5px;
  width: 100%;
}

.avatar-preview {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
  align-self: flex-start;
}

.avatar-preview img {
  width: 100%;
  height: auto;
}

.avatar-section {
  margin-bottom: 10px;
}

button {
  background-color: #2088ff;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0e7bea;
}
